<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  
  <h1>
    <span style="font-size:small">root-component:</span>
    Welcome to {{ title }}!
  </h1>
</div>


<!-- lession 2
<app-root-basics></app-root-basics>-->



<!-- lession 3 - material dashboard-->
<!-- <app-my-dashboard></app-my-dashboard>-->
<!-- <app-addr-form></app-addr-form>-->


<!-- lession 4 -  bindings-basics
<bindings-basics></bindings-basics>-->
<!-- lession 4 -  template ref
<bindings-template-ref></bindings-template-ref>-->
<!-- lession 4 -  nested and life cycle-->
<nested-zaidy></nested-zaidy>

<!-- lession 3 - nested comps
<nested-zaidy></nested-zaidy>-->
